/Solucion_Codigo/ProyectoTaller3/nbproject/private/
/Solucion_Codigo/ProyectoTaller3/build/
/Solucion_Codigo/EjecutorEquivalenteHora/nbproject/private/
/Solucion_Codigo/ProyectoTaller3/EjecutorEquivalenteHora/nbproject/private/
/Solucion_Codigo/EjecutorEquivalenteHora/build/
